
.track
  .action
    flex: none
    display: flex
    flex-direction: row

    //background-color: rgba(249, 170, 188, 1)
    padding: 0 3px
    .material-divider
      flex: 1
      padding: 0
      margin: 0
    
    .controls
      flex: none
      display: inline-block
      button
        pointer-events: auto
        flex: none
        margin: 0
        height: 36px
        width: 36px
        min-width: 36px
        background-image: url('/theme/transition/icon/next.svg')
        background-position: center
        background-repeat: no-repeat
        border: 2px solid rgba(255,255,255,1)
        &.button-next
          background-size: 50%
          background-position: center
          background-position: 8px
          background-image: url('/theme/transition/icon/next.svg')
        &.button-pause
          margin-right: 8px
          background-position: center
          background-size: 40%
          background-image: url('/theme/transition/icon/pause.svg')
        &.button-play
          margin-right: 8px
          background-position: center
          background-size: 40%
          background-image: url('/theme/transition/icon/play.svg')


    
.track
  .action
    .material-button
      display: inline-block
      flex-direction: column
      flex: none
      white-space: normal
      width: 36px
      height: 36px
      margin: 0 3px
      padding: 0px
      text-align: center
      border-radius: 50%
      background-repeat: no-repeat
      background-size: cover
      background-position: center
      pointer-events: auto
      &.button-like
        background-image: url('/theme/actual/icon/like.svg')
        .button-label
          width: 36px
          font-size: .7em
          text-align: center
          padding-top: 8px
          color: #CF3151
          display: block
          text-align: center
          font-size: .6em
        &.liked, &:hover.liked
          background-image: url('/theme/transition/icon/liked.svg')
          .button-label
            
            color: white
        &:hover
          background-image: url('/theme/transition/icon/like_o.svg')
        // &:active
        //   background-image: url('/theme/transition/icon/like_a.svg')
      &.button-share
        background-image: url('/theme/transition/icon/share.svg')
        &:hover
          background-image: url('/theme/transition/icon/share_o.svg')
        &:active
          background-image: url('/theme/transition/icon/share_a.svg')
      &.button-comment
        display: none
        background-image: url('/theme/transition/icon/comment.svg')
      &.button-buy
        display: none
        opacity: 0
        visibility: hidden
      .button-label
        display: none
        // color: rgba(0,0,0,.87)
        // line-height: 1.9
        // font-weight: 550
        // font-family: arial, helvetica
        // font-size: .55em
        // margin-top: 3px
        // padding: 0 4px
        // border-radius: 7px
        // margin: 3px auto
        // min-width: 20px
        // background-color: rgba(255,255,255,1) 
        // 
      .material-button.button-buy-track
        opacity: .5
        pointer-events: none
        &.buy
          opacity: 1
          pointer-events: auto
