.controls
  flex: 1
  display: inline-block
  button
    flex: none
    margin: 8px
    height: 40px
    width: 40px
    background-image: url('/theme/transitioon/icon/next.svg')
    background-position: center
    background-repeat: no-repeat
    &.button-next
      background-image: url('/theme/transitioon/icon/next.svg')
    &.button-pause
      background-image: url('/theme/transitioon/icon/pause.svg')

.dark-mode
  button
    background-image: url('/theme/minimal/icon/dark/next.svg')
    &.button-next
      background-image: url('/theme/minimal/icon/dark/next.svg')
    &.button-pause
      background-image: url('/theme/minimal/icon/dark/pause.svg')