
// control
// 
.posttrack-control
  transform: translateY(0px)
  z-index: 2
  order: 4
  width: 56px
  height: 56px
  padding: 0
  cursor: pointer
  border-radius: 50%
  margin: 8px 16px
  border: none
  overflow: visible
  background-color: transparent
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)
  .posttrack-button
    display: none
  .posttrack-image
    display: block
    position: relative
    width: 56px
    height: 56px
    background-color: transparent
    background-image: url('/theme/actual/icon/posttrack.svg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    border-radius: 50%
    //box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)
    transition: 1s transform ease
  &:hover
    .posttrack-button
      color: rgba(194, 24, 37, 1.00) 
      background-color: rgba(255,255,255,1)
    .posttrack-image
      animation: spin 1s linear infinite
      transition: 1s transform ease



@keyframes spin
  100% 
    transform: rotate(360deg)

@media only screen and (max-width: 1023px)
  .posttrack-control
    display: none