.contributor
  z-index: 1
  display: flex
  flex-direction: column
  flex: none
  height: 396px
  width: 380px
  background-color: $primary-color
  //box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)
  border-top: 2px solid $background-color
  transform: translateY(300px)
  transition: .195s transform cubic-bezier(.4,0,.2,1)
  transform: translateY(0px)

  &.open
    transform: translateY(-300px)
    transition: .1s transform ease !important
    transition: .225s transform cubic-bezier(.4,0,.2,1)

  //box-shadow: none
  .button-close
    display: none
    position: absolute
    right: 0
    top: 8px
    width: 48px
    height: 48px
    background-image: url('/theme/minimal/icon/close.svg')
    background-position: center
    background-repeat: no-repeat

  > .title
    display: none

  .summary
    position: relative
    pointer-events: none
    display: flex
    flex-direction: row
    //background-color: rgba(0,0,0,.5)
    border-left: 2px solid $background-color
    .image
      //pointer-events: auto
      flex: none
      overflow: hidden
      display: inline-block
      width: 64px
      height: 64px
      //background-color: rgba(0,0,0,.2)
      margin: 16px
      background-size: cover
      border-radius: 16px

    .info
      flex: 1
      opacity: 1
      width: 100%
      padding: 4px 4px 4px 4px
      background-color: transparent
      position: relative
      overflow: hidden
      top: 0
      right: 0
      left: 0
      color: rgba(255,255,255,.87)
      padding: 8px 8px 8px 0
      .name
        font-size: 1em
        padding: 4px 8px
        //color: $default-color-text
      .country

        flex: 1
        opacity: .7
        font-size: .9em
        padding: 0px 8px
      .ranking
        font-size: .9em
        padding: 4px
        display: flex
        flex-direction: row
        .ranking-score
          flex: none
          font-size: .9em
          padding: 4px
        .ranking-title
          flex: 1
          font-size: .9em
          padding: 4px



  .summary
    pointer-events: none
    //background-color: rgba(0,0,0,.5)
    .follow
      pointer-events: auto
      position: absolute
      right: 8px
      bottom: 8px
      white-space: normal
      width: 40px
      height: 40px
      margin: 0 1px
      padding: 0px
      text-align: center
      border-radius: 50%
      background-repeat: no-repeat
      background-size: 60%
      background-position: center
      background-image: url('/theme/minimal/icon/follow.svg')
    .image
      background-color: rgba(0,0,0,.1)
    .info
      display: flex 
      flex-direction: column
      padding: 16px
      flex: 1
      opacity: 1
      width: 100%
      padding: 4px 4px 4px 4px
      background-color: transparent
      position: relative
      overflow: hidden
      top: 0
      right: 0
      left: 0
      padding: 8px 8px 8px 0
      
  .body
    flex: 1
    position: relative
    display: flex
    flex-direction: column
    background-color: #2A5986
    border-left: 1px solid rgba(0, 0, 0, .05)
    border-top: 2px solid $background-color
    .material-tabs
      pointer-events: auto
      border-bottom: 1px solid rgba(0, 0, 0, .1)
      height: 48px
      white-space: no-wrap
      .material-indicator
        background-color: $secondary-color
      .material-list
        display: flex
        flex-direction: row
        .material-divider


          flex: 1 
          display: inline-block
        button
          flex: none
          pointer-events: auto
          display: inline-block
          // flex-direction: column
          // flex: 1
          // white-space: normal
          padding: 0 16px
          min-width: 64px
          height: 48px
          //margin: 0 1px
          border-radius: 0
          text-align: center
          background-repeat: no-repeat
          background-size: 50%
          background-position: center
          label
            color: $default-color-text
          &.button-uploaded
            label
              display: none
            background-image: url(/theme/minimal/icon/uploaded.svg)
          &.button-likes
            label
              display: none
            background-image: url(/theme/minimal/icon/like.svg)
          &.button-settings
            label
              display: none
            background-image: url(/theme/minimal/icon/settings.svg)
          &.button-liked
            label
              display: none
            background-size: 40%
            background-image: url(/theme/minimal/icon/liked.svg)
          &.button-awards
            background-size: 40%
            label
              display: none
            background-image: url(/theme/minimal/icon/awards.svg)
          &.button-contacts
            background-size: 40%
            label
              display: none
            background-image: url(/theme/minimal/icon/people.svg)



body.dark-mode
  .contributor
    background-color: $surface-color-dark
    >.summary
      border-left: 1px solid rgba(255, 255, 255, .06)
      
    .body
      border-left: 1px solid rgba(255, 255, 255, .04)
      background-color: $background-color-dark
      .material-tabs
        border-bottom: 1px solid rgba(255, 255, 255, .04)


// @media only screen and (max-width: 1024px)
//   .contributor

//     width: 96px
//     .summary
//       pointer-events: auto
//     &.open
//       position: fixed
//       .summary
//         width: 100%
//         .info
//           display: flex
//     .summary
//       .info
//         display: none
//       .follow
//         display: none


@media only screen and (max-width: 640px)
  .contributor
    z-index: 1
    position: fixed
    right: 0
    bottom: 0
    width: 96px
    height: 96px
    //transition: .225s width cubic-bezier(.4,0,.2,1)
    transform: translateY(0)      
    box-shadow: none
    //transition: .225s width cubic-bezier(.4,0,.2,1)
    //transition: .225s height cubic-bezier(.4,0,.2,1)
    //border-radius: 50%
    //box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)
    &.open
      z-index: 3
      position: fixed
      top: 56px
      left: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
      border-radius: 0
      transform: translateY(96px)
      box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)
      transform: translateY(0)
      //transition: .225s width cubic-bezier(.4,0,.2,1)
      //transition: .225s height cubic-bezier(.4,0,.2,1)
      .summary

        width: 100%
        .image
          //order: 2
        .info
          //order: 1
          display: flex
          flex-direction: column
      .body
        pointer-events: auto
   
    .summary

      pointer-events: auto
      .info
        display: none
      .follow
        display: none


  
