.material-goodnews
  z-index: 7
  position: fixed
  top: 0
  left: 0
  bottom: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(1,1,1,.4)
  .list-goodnews
    height: 60%
    width: 420px
    bottom: 66px
    margin: 0 auto
    margin-top: 100px
    background-color: rgba(202, 232, 243, 1.00)
    border-radius: 7px
    border: 3px solid rgba(255,255,255,1)
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
    .material-card
      border: none
      background-color: transparent
      border-radius: 0
      box-shadow: none
      //border-bottom: 1px solid rgba(0,0,0,.1)
      .component-main
        padding: 0
        .component-image
          width: 90px
          height: 90px
          //background-color: rgba(0,0,0,.05)
          //border: 1px solid rgba(0,0,0,.2)
          background-size: contain
          background-repeat: no-repeat
          background-position: top
        .component-text
          padding: 4px 5px
          width: inherit
          .text-title
            font-size: 1.5em
          .text-preview
            font-size: .8
            color: rgba(0,0,0,.6)
    .material-card:nth-child(odd)
      background: rgba(151, 212, 234, 1.00)
      