.worldmap
  .islands
    position: relative
    margin: 250px
    .island
      z-index: 5
      cursor: pointer
      border-radius: 50%
      padding: 32px
      &:hover
        background-color: rgba(255,255,255,.7)
        //border: 2px solid red
      &.selected
        background-color: rgba($secondary-color,.7)

      img
        pointer-events: none

.splash-island
  display: none
  z-index: 10
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: 100%
  background-color: rgba(0,0,0,.5)
  background-size: 25%
  background-repeat: no-repeat
  background-position: 32px 90%


@media only screen and (max-width: 1024px)
  .splash-island
    background-size: 70%
    background-position: center
