.worldmap
  cursor: grab
  position: absolute
  margin: 0 auto
  width: 100%
  height: 100%
  transition: .7s transform cubic-bezier(.4, 0, .2,1)
  // backface-visibility: hidden
  .island
    transition: .3s opacity linear
    pointer-events: auto
    opacity: 1
  .map
    opacity: 0
    overflow: hidden
    position: absolute
    top: 0
    left: 0
    top: 0
    bottom: 0
    width: 4650px
    height: 4600px
    -ms-transform: translateZ(0) /* IE 9 */
    -webkit-transform: translateZ(0) /* Chrome, Safari, Opera */
    transform: translateZ(0)
    border: 10px solid white
    border-radius: 10px
    background-color: white
    &.show
      opacity: 1
      transition: .2s opacity ease

    &.tiny
      .bghd
        
      svg path
        stroke-width: 2.4
    &.small
      .bg
        
      svg path
        stroke-width: 1.6
    &.medium
      .bghd
        background-image: url('/theme/actual/img/map.jpg')
      svg path
        stroke-width: 1.4
    &.large
      .bghd
        background-image: url('/theme/actual/img/map.jpg')
      svg path  
        stroke-width: 1.2
    &.huge
      .bghd
        background-image: url('/theme/actual/img/map.jpg')
      svg path
        stroke-width: 1
    &.xhuge
      .bghd
        background-image: url('/theme/actual/img/map.jpg')
      svg path
        stroke-width: .8


    .bg
      opacity: 1
      position: absolute
      bottom: 0
      top: -10px
      left: -10px
      right: 0
      background-image: url('/theme/actual/img/simplemap.jpg')
      background-size: cover
      background-position: 0px 0px
      background-repeat: no-repeat

    .bghd
      opacity: 1
      position: absolute
      bottom: 0
      top: 0
      left: 0
      right: 0
      background-size: cover
      background-position: 0px 0px
      background-repeat: no-repeat


    .svg
      position: absolute
      top: 260px
      left: 295px
      right: 0
      bottom: 0
      width: 1
      height: 100%

      svg
        path
          cursor: pointer
          fill: rgb(255, 253, 160)
          fill-opacity: .6
          fill-rule: evenodd
          stroke: rgba(0,0,0,.5) 
          stroke-opacity: .5
          stroke-linejoin: round
          stroke-linecap: round
          //transition: fill .1s linear
          &.selected
            fill: rgb(245, 154, 157)
            cursor: default
            fill-opacity: .4
          &.selected.playing
            fill-opacity: 1
          &.empty
            fill-opacity: .3
            cursor: default
            fill: #ffffff
            fill-opacity: .7
            stroke-opacity: .05


    svg
      position: absolute
      left: 1010px
      top: 1475px
      width: 5408px
      height: 4500px
      margin: 0 auto

// body
//   &.mode-standard
//     background-color: darken($surface-color, 5%)
//     .worldmap
//       .map
//         //transition: 1s backgroundColor  ease
//         svg
//           path
//             //stroke: rgba(63, 169, 216, 1)
//           path.selected
//             fill: rgba(63, 169, 216, 1)
    
// body
//   &.mode-island
//     background-color: rgba(172, 217, 253, .8)
//     .worldmap
//       .map
//         //transition: 1s backgroundColor  ease
//         svg
//           path
//             stroke: rgba(63, 169, 216, 1)
//           path.selected
//             fill: rgba(63, 169, 216, 1)

// body
//   &.mode-taxi
//     background-color: rgba(245, 151, 157, .3)
//     .worldmap
//       .island
//         transition: .3s opacity linear
//         pointer-events: none
//         opacity: 0
//       .map
//         //
//         //transition: 1s backgroundColor  ease
//         svg
//           path
//             stroke: rgba(234, 121, 135, 1)
//           path.selected
//             fill: rgba(234, 121, 135, 1)
            

//   &.mode-random
//     background-color: rgba(172, 217, 253, .8)
//     .worldmap
//       .map
//         //transition: 1s backgroundColor  ease
//         svg
//           path
//             stroke: rgba(63, 169, 216, 1)
//           path.selected
//             fill: rgba(63, 169, 216, 1)
      
   
// body.dark-mode.mode-standard
//   background-color: darken($secondary-color, 60%)
//   .worldmap
//     .map
//       .svg
//         position: absolute
//         bottom: 0
//         top: 0
//         right: 0
//         left: 0
//         width: 100%
//         height: 100%

//         svg
//           path
//             fill: $surface-color-dark
//           path.selected
//             fill-opacity: 1
//             fill: $secondary-color

// body.dark-mode.mode-taxi
//   background-color: darken($primary-color, 60%)
//   .worldmap
//     .map
//       .svg
//         position: absolute
//         bottom: 0
//         top: 0
//         right: 0
//         left: 0
//         width: 100%
//         height: 100%

//         svg
//           path
//             fill-opacity: 1
//             fill: darken($surface-color, 70%)
//             fill: rgba(255,255,255,.3)
//           path.selected
//             fill-opacity: 1
//             fill: darken($primary-color, 0%)
//           path.empty
//             fill-opacity: 1
//             fill: rgba(255,255,255,.2)

@media only screen and (max-width: 1024px)

