.profile, .account, .contributor
  display: flex
  flex-direction: column
  flex: none
  z-index: 32
  width: 360px
  transform: translateY(300px)
  transition: .1s transform ease
  &.open
    transform: translateY(0px)
    transition: .1s transform ease

  //box-shadow: none
  .button-close
    display: none
    position: absolute
    right: 0
    top: 8px
    width: 48px
    height: 48px
    background-image: url('/theme/minimal/icon/close.svg')
    background-position: center
    background-repeat: no-repeat

  > .title
    display: none

  .summary
    position: relative
    pointer-events: none
    display: flex
    flex-direction: row
    //background-color: rgba(0,0,0,.5)
    .image
      //pointer-events: auto
      flex: none
      overflow: hidden
      display: inline-block
      width: 80px
      height: 80px
      //background-color: rgba(0,0,0,.2)
      margin: 8px
      background-size: cover
      border-radius: 50%

    .info
      flex: 1
      opacity: 1
      width: 100%
      padding: 4px 4px 4px 4px
      background-color: transparent
      position: relative
      overflow: hidden
      top: 0
      right: 0
      left: 0
      padding: 8px 8px 8px 0
      .name
        font-size: 1.2em
        //color: rgba(255, 255, 255, 1)
        padding: 4px 8px
      .country
        font-size: .9em
        padding: 4px 8px
      .ranking
        font-size: .9em
        padding: 4px 8px

  .body
    flex: 1
    position: relative
    display: flex
    flex-direction: column
    .material-tabs
      flex: none
      text-align: left
      border-bottom: 1px solid (0,0,0,.1)
      > .material-list 
        >.material-button
          >label
            //color: rgba(255,255,255,1)
    .views
      position: relative
      flex: 1
      //background-color: rgb(50, 54, 57)
      
      .awards
        display: none
        overflow: scroll
        position: absolute
        right: 0
        left: 0
        bottom: 0
        top: 0
        padding: 8px

        &.show
          display: block
      
        .award
          position: relative
          display: inline-block
          width: 84px
          height: 128px
          margin-bottom: 2px
          padding: 0 3px
          text-align: center
          img
            display: inline-block
            width: 56px
            height: 102px
          .name
            //color: rgba(255,255,255,1)
            font-size: .7em
            position: absolute
            bottom: 0
            left: 0
            right: 0
            text-align: center
            display: block
            height: 30px
      > div
        display: none
        position: absolute
        right: 0
        left: 0
        bottom: 0
        top: 0
        overflow: scroll
        &.show
          display: block
      .liked,
      .uploaded

        display: none
        position: absolute
        right: 0
        left: 0
        bottom: 0
        top: 0
        overflow: scroll
        &.show
          display: block
        .item
          //color: rgba(255,255,255,1)
          display: flex
          flex-direction: row
          flex-wrap: nowrap
          padding: 4px 16px 4px 16px
          border-bottom: 1px solid rgba(255,255,255,.1)
          .title
            display: inline-block
            flex: 1
          .likes
            display: inline-block
            padding-left: 8px
            flex: none


@media only screen and (max-width: 1024px)

@media only screen and (max-width: 640px)
  .profile, .account, .contributor
    width: 100%
